<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sujin.web.dao.AdminDAO">

	<select id="adminLogin" parameterType="Map" resultType="Map">
		<![CDATA[
			SELECT
			count(*) as count, m_name, m_grade
			FROM members
			WHERE m_id=#{id } AND AES_DECRYPT(UNHEX(m_pw),'sik')=#{pw } AND m_grade > 5
		]]>
	</select>
	
	<select id="list" resultType="Map">
		SELECT * FROM notice ORDER BY nno DESC
	</select>
	
	<insert id="noticeWrite" parameterType="Map">
		INSERT INTO notice (ntitle, ncontent, m_no
				<if test="upFile != null and upFile != ''">, norifile, nrealfile </if>)
		VALUES (#{title}, #{content}, #{mno}
				<if test="upFile !=  null and upFile != ''">, #{upFile}, #{realFile}</if>)
	</insert>

	<select id="noticeDetail" parameterType="Integer" resultType="String">
		SELECT ncontent FROM notice WHERE nno=#{nno}
	</select>

	<update id="noticeHide" parameterType="Integer">
		UPDATE notice SET ndel = if(ndel = 1, 0, 1)
		WHERE nno=#{nno}
	</update>

	<select id="setupBoardList" resultType="Map">
		SELECT *
		FROM setupboard ORDER BY b_no ASC
	</select>
	
	<insert id="multiBoardInsert" parameterType="Map">
		INSERT INTO setupboard (mb_cate, b_catename, b_url, b_comment)
		VALUES (#{cateNum}, #{name}, CONCAT('./multiboard?board=',#{cateNum}), #{comment})
	</insert>
	
	<select id="memberList" resultType="Map">
		SELECT m_no, m_id, m_name, m_joindate, m_addr, m_grade, m_birth, m_gender, m_mbti
		FROM members 
	</select>

	<update id="gradeChange" parameterType="Map">
		UPDATE members SET m_grade=#{grade} WHERE m_no=#{mno}
	</update>

	<select id="boardList" resultType="Map">
		SELECT mb_cate, b_catename, b_url
		FROM setupboard
	</select>

	<select id="post" parameterType="Map" resultType="Map">
		SELECT m.mb_no, m.mb_board, s.b_catename, m.mb_title, m.mb_date, m.mb_read, m.mb_del, m.m_no, e.m_id, e.m_name,
	    (
	    SELECT COUNT(*) 
	    FROM multiboard m 
		JOIN members e ON m.m_no = e.m_no
	    <where>
			<if test="cate gt 0">
				AND mb_board = #{cate}
			</if>
			<choose>
				<when test="searchN == 'title'">AND m.mb_title LIKE CONCAT('%', #{searchV }, '%')</when>
				<when test="searchN == 'content'">AND m.mb_content LIKE CONCAT('%', #{searchV }, '%')</when>
				<when test="searchN == 'nick'">AND e.m_name LIKE CONCAT('%', #{searchV }, '%')</when>
				<when test="searchN == 'id'">AND e.m_id LIKE CONCAT('%', #{searchV }, '%')</when>
			</choose>
		</where>
	    ) as count
		FROM (multiboard m JOIN setupboard s ON m.mb_board = s.mb_cate) 
		JOIN members e ON m.m_no = e.m_no
		<where>
			<if test="cate gt 0">
				AND mb_board = #{cate}
			</if>
			<choose>
				<when test="searchN == 'title'">AND m.mb_title LIKE CONCAT('%', #{searchV }, '%')</when>
				<when test="searchN == 'content'">AND m.mb_content LIKE CONCAT('%', #{searchV }, '%')</when>
				<when test="searchN == 'nick'">AND e.m_name LIKE CONCAT('%', #{searchV }, '%')</when>
				<when test="searchN == 'id'">AND e.m_id LIKE CONCAT('%', #{searchV }, '%')</when>
			</choose>
		</where>
		ORDER BY mb_no DESC
	</select>

	<select id="contentDetail" parameterType="Integer" resultType="String">
		SELECt mb_content FROM multiboard WHERE mb_no = #{mbno}
	</select>

</mapper>